.main {
  width: 100%;
  background-color: var(--color-white);
  margin-bottom: 48px;
}

.card {
  display: flex;
  width: 100%;
  height: 400px;
  margin: 20px 0;
  background-image: url('../../assets/imgs/weather_background.png');
}

.left {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
}

.today,
.temperature,
.maxmin {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.today {
  margin-bottom: 18px;
}

.today img {
  width: 40px;
  height: 36.17px;
}

.today span {
  margin-left: 12px;
  font-size: var(--font-small);
  font-weight: var(--weight-bold-500);
}

.temperature span {
  line-height: 100%;
  font-size: var(--font-3xl);
  font-weight: var(--weight-bold-400);
}

.max,
.min {
  font-size: var(--font-micro);
  font-weight: var(--weight-bold-500);
}

.max {
  margin-left: 12px;
}

.max span,
.min span {
  margin-left: 4px;
}

.right {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* .character {
  margin-left: 18px;
} */

@keyframes character {
  0% {
    top: 0px;
  }

  to {
    top: -20px;
  }
}

.character {
  position: relative;
  left: 0;
  top: 0;
  margin-left: 18px;
  /* Infinite(무한 반복) / Alternate(순방향으로 애니메이션을 시작해서 역방향으로 번갈아 애니메이션 재생) */
  animation: character 0.7s ease-out Infinite Alternate;
}

.icon {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
}

.span {
  font-size: var(--font-regular);
  color: var(--color-brand);
  font-weight: var(--weight-bold-500);
}