.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  min-height: 100px;
  margin-top: auto;
  background-color: var(--color-brand);
}

.description {
  font-size: var(--font-nano);
  font-weight: var(--weight-bold-400);
  color: var(--color-white);
}

.description span {
  margin: 0 18px;
}